<div class="social-container">
  <div>
    <app-topbar
      [title]="
        (settingsService.language | async) === Language.MONTENEGRO
          ? 'DRUŠTVENE SITUACIJE'
          : 'Situatat sociale'
      "
      [showSettings]="true"
      [showBackButton]="true"
      [backOnPage]="'/home'"
    ></app-topbar>
  </div>
  <div class="social-events-wrapper">
    <div class="social-events-container">
      <div class="image-wrapper" *ngFor="let event of events">
        <app-lazy-image
          [src]="event.image"
          [alt]="event.description"
          [clickable]="true"
          (clicked)="onClick(event)"
        ></app-lazy-image>
        <div class="description">
          <p *ngIf="(settingsService.language | async) === Language.MONTENEGRO">
            {{ event.description }}
          </p>
          <p *ngIf="(settingsService.language | async) === Language.ALBANIA">
            {{ event.descriptionALB }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
