.container {
  padding: 50px 20%;
  max-width: 1300px;
  display: flex;
  gap: 5%;
}

.sentence-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}

.sentence {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100px;
  margin-bottom: 15px;
  padding: 5%;
  cursor: pointer;
}

.for-sentence {
  width: 100%;
  border: 0.5px solid var(--color-brand-1);
  margin-bottom: 5px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.image-wrapper img {
  width: 90%;
  transition: opacity 0.3s;
}

#smiley-image-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#smiley-image {
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 20%;
    flex-direction: column;
  }
  .sentence-container {
    width: 100%;
  }
  .images {
    width: 100%;
    padding-top: 20px;
  }
}
