<mat-toolbar class="header">
  <div class="back-icon" (click)="goBack()">
    <mat-icon
      matTooltip="Vrati se nazad"
      *ngIf="
        showBackButton &&
        (settingsService.language | async) === Language.MONTENEGRO
      "
      >arrow_back</mat-icon
    >
    <mat-icon
      matTooltip="Mbrapa"
      *ngIf="
        showBackButton &&
        (settingsService.language | async) === Language.ALBANIA
      "
      >arrow_back</mat-icon
    >
    <mat-icon
      matTooltip="Врати се назад"
      *ngIf="
        showBackButton &&
        (settingsService.language | async) === Language.SERBIAN
      "
      >arrow_back</mat-icon
    >
  </div>
  <div class="header-text">{{ title }}</div>
  <div *ngIf="!showSettings && !showLetterGameSettings"></div>
  <div *ngIf="showSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settings"
      matTooltip="Podešavanja"
      *ngIf="
        showSettings &&
        (settingsService.language | async) === Language.MONTENEGRO
      "
      >settings</mat-icon
    >
    <mat-icon
      [matMenuTriggerFor]="settings"
      matTooltip="Cilësimet"
      *ngIf="
        showSettings && (settingsService.language | async) === Language.ALBANIA
      "
      >settings</mat-icon
    >
  </div>
  <div *ngIf="showLetterGameSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settingsLetterGame"
      matTooltip="Podešavanja"
      *ngIf="
        showLetterGameSettings &&
        (settingsService.language | async) === Language.MONTENEGRO
      "
    >
      settings
    </mat-icon>
    <mat-icon
      [matMenuTriggerFor]="settingsLetterGame"
      matTooltip="Подешавања"
      *ngIf="
        showLetterGameSettings &&
        (settingsService.language | async) === Language.SERBIAN
      "
      >settings</mat-icon
    >
  </div>
  <div *ngIf="showLetterPermutationsGameSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settingsLetterPermutationsGame"
      matTooltip="Podešavanja"
      *ngIf="
        showLetterPermutationsGameSettings &&
        (settingsService.language | async) === Language.MONTENEGRO
      "
    >
      settings
    </mat-icon>
    <mat-icon
      [matMenuTriggerFor]="settingsLetterPermutationsGame"
      matTooltip="Подешавања"
      *ngIf="
        showLetterPermutationsGameSettings &&
        (settingsService.language | async) === Language.SERBIAN
      "
      >settings</mat-icon
    >
  </div>
</mat-toolbar>

<mat-menu #settings="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="gender">
    <mat-icon *ngIf="(settingsService.voiceType | async) === VoiceType.FEMALE"
      >female</mat-icon
    >
    <mat-icon *ngIf="(settingsService.voiceType | async) === VoiceType.MALE"
      >male</mat-icon
    >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Pol</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Gjinia</span
    >
  </button>
  <button mat-menu-item [matMenuTriggerFor]="language">
    <img
      *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      class="montenegro-language-icon"
      src="assets/icons/montenegro-flag.png"
    />
    <img
      *ngIf="(settingsService.language | async) === Language.ALBANIA"
      class="albania-language-icon"
      src="assets/icons/albania-flag.png"
    />
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Jezik</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Gjuhe</span
    >
  </button>
</mat-menu>

<mat-menu #gender="matMenu">
  <button
    (click)="setVoice(VoiceType.FEMALE)"
    mat-menu-item
    [disabled]="(settingsService.voiceType | async) === VoiceType.FEMALE"
  >
    <mat-icon>female</mat-icon>
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Ženski glas</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Zëri i një gruaje</span
    >
  </button>
  <button
    (click)="setVoice(VoiceType.MALE)"
    mat-menu-item
    [disabled]="(settingsService.voiceType | async) === VoiceType.MALE"
  >
    <mat-icon>male</mat-icon>
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Muški glas</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Zëri mashkullor</span
    >
  </button>
</mat-menu>

<mat-menu #language="matMenu">
  <button
    (click)="setLanguage(Language.MONTENEGRO)"
    mat-menu-item
    [disabled]="(settingsService.language | async) === Language.MONTENEGRO"
  >
    <img
      class="montenegro-language-icon"
      src="assets/icons/montenegro-flag.png"
    />
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Crnogorski</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Malazeze</span
    >
  </button>
  <button
    (click)="setLanguage(Language.ALBANIA)"
    mat-menu-item
    [disabled]="(settingsService.language | async) === Language.ALBANIA"
  >
    <img class="albania-language-icon" src="assets/icons/albania-flag.png" />
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Albanski</span
    >
    <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
      >Shqiptare</span
    >
  </button>
</mat-menu>

<mat-menu #settingsLetterGame="matMenu">
  <button mat-menu-item (click)="newLetterGame()">
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Nova igra</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Нова игра</span
    >
  </button>
  <button mat-menu-item [matMenuTriggerFor]="level">
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Nivo</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Ниво</span
    >
  </button>
  <button mat-menu-item [matMenuTriggerFor]="alphabet">
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Pismo</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Писмо</span
    >
  </button>
</mat-menu>

<mat-menu #level="matMenu">
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.FIRST_LETTER)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.FIRST_LETTER
    "
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Prvo slovo</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Прво слово</span
    >
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.ONE_LETTER)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.ONE_LETTER
    "
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >1 slovo</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >1 слово</span
    >
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.TWO_LETTERS)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.TWO_LETTERS
    "
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >2 slova</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >2 слова</span
    >
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.THREE_LETTERS)"
    [disabled]="
      (settingsService.letterGameLevel | async) ===
      LetterGameLevel.THREE_LETTERS
    "
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >3 slova</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >3 слова</span
    >
  </button>
</mat-menu>

<mat-menu #settingsLetterPermutationsGame="matMenu">
  <button mat-menu-item (click)="newLetterPermutationsGame()">
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Nova igra</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Нова игра</span
    >
  </button>
</mat-menu>
<mat-menu #alphabet="matMenu">
  <button
    mat-menu-item
    (click)="setLanguage(Language.MONTENEGRO)"
    [disabled]="(settingsService.language | async) === Language.MONTENEGRO"
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Latinica</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Латиница</span
    >
  </button>
  <button
    mat-menu-item
    (click)="setLanguage(Language.SERBIAN)"
    [disabled]="(settingsService.language | async) === Language.SERBIAN"
  >
    <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      >Ćirilica</span
    >
    <span *ngIf="(settingsService.language | async) === Language.SERBIAN"
      >Ћирилица</span
    >
  </button>
</mat-menu>
