.header {
  background: #222;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-text {
  color: white;
  font-size: 1.14rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.back-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
