.header {
  background: #2e75b6;
  width: 100%;
  height: var(--topbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.header-text {
  color: white;
  font-size: 1.14rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  white-space: break-spaces;
  text-align: center;
  line-height: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.back-icon {
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

.settings-icon {
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

.montenegro-language-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 16px;
}

.albania-language-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 16px;
}

.auth-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.greeting {
  color: white;
  letter-spacing: .0178571429em;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-button {
  color: white;
  
  mat-icon {
    color: white;
  }
}

.login {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .0178571429em;
}

.login-icon {
  display: none;
  color: white;
  
  mat-icon {
    color: white;
  }
}

@media (max-width: 768px) {
  .login-text {
    display: none;
  }
  
  .login-icon {
    display: block;
  }
  
  .greeting {
    display: none;
  }
}

