<mat-toolbar class="header">
  <div class="back-icon" (click)="goBack()">
    <mat-icon
      [matTooltip]="'TOPBAR.BACK' | translate"
      *ngIf="showBackButton"
      >arrow_back</mat-icon
    >
  </div>
  <div class="header-text">{{ title | translate }}</div>
  <div class="spacer"></div>
  <div class="right-section">
  <div class="auth-section">
    <ng-container *ngIf="authService.user$ | async as user; else loginButton">
      <span class="greeting" [innerHTML]="'TOPBAR.GREETING' | translate:{name: user.name}"></span>
      <button mat-icon-button (click)="logout()" [matTooltip]="'TOPBAR.LOGOUT' | translate" class="logout-button">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-raised-button class="login login-text" color="accent" (click)="openLoginModal()">
        {{ 'TOPBAR.LOGIN' | translate }}
      </button>
      <button mat-icon-button class="login-icon" (click)="openLoginModal()" [matTooltip]="'TOPBAR.LOGIN' | translate">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
  </div>
  <div *ngIf="showSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settings"
      [matTooltip]="'TOPBAR.SETTINGS' | translate"
      >settings</mat-icon
    >
  </div>
  <div *ngIf="showLetterGameSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settingsLetterGame"
      [matTooltip]="'TOPBAR.SETTINGS' | translate"
    >
      settings
    </mat-icon>
  </div>
  <div *ngIf="showLetterPermutationsGameSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settingsLetterPermutationsGame"
      [matTooltip]="'TOPBAR.SETTINGS' | translate"
    >
      settings
    </mat-icon>
  </div>
  <div *ngIf="showMissingWordGameSettings" class="settings-icon">
    <mat-icon
      [matMenuTriggerFor]="settingsMissingWordGame"
      [matTooltip]="'TOPBAR.SETTINGS' | translate"
    >
      settings
    </mat-icon>
  </div>
  </div>
</mat-toolbar>

<mat-menu #settings="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="gender">
    <mat-icon *ngIf="(settingsService.voiceType | async) === VoiceType.FEMALE"
      >female</mat-icon
    >
    <mat-icon *ngIf="(settingsService.voiceType | async) === VoiceType.MALE"
      >male</mat-icon
    >
    <span>{{ 'SETTINGS.GENDER' | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="language">
    <img
      *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
      class="montenegro-language-icon"
      src="assets/icons/montenegro-flag.png"
    />
    <img
      *ngIf="(settingsService.language | async) === Language.ALBANIA"
      class="albania-language-icon"
      src="assets/icons/albania-flag.png"
    />
    <span>{{ 'SETTINGS.LANGUAGE' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #gender="matMenu">
  <button
    (click)="setVoice(VoiceType.FEMALE)"
    mat-menu-item
    [disabled]="(settingsService.voiceType | async) === VoiceType.FEMALE"
  >
    <mat-icon>female</mat-icon>
    <span>{{ 'SETTINGS.VOICE_FEMALE' | translate }}</span>
  </button>
  <button
    (click)="setVoice(VoiceType.MALE)"
    mat-menu-item
    [disabled]="(settingsService.voiceType | async) === VoiceType.MALE"
  >
    <mat-icon>male</mat-icon>
    <span>{{ 'SETTINGS.VOICE_MALE' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #language="matMenu">
  <button
    (click)="setLanguage(Language.MONTENEGRO)"
    mat-menu-item
    [disabled]="(settingsService.language | async) === Language.MONTENEGRO"
  >
    <img
      class="montenegro-language-icon"
      src="assets/icons/montenegro-flag.png"
    />
    <span>{{ 'SETTINGS.LANG_ME' | translate }}</span>
  </button>
  <button
    (click)="setLanguage(Language.ALBANIA)"
    mat-menu-item
    [disabled]="(settingsService.language | async) === Language.ALBANIA"
  >
    <img class="albania-language-icon" src="assets/icons/albania-flag.png" />
    <span>{{ 'SETTINGS.LANG_AL' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #settingsLetterGame="matMenu">
  <button mat-menu-item (click)="newLetterGame()">
    <span>{{ 'SETTINGS.NEW_GAME' | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="level">
    <span>{{ 'SETTINGS.LEVEL' | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="alphabet">
    <span>{{ 'SETTINGS.ALPHABET' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #level="matMenu">
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.FIRST_LETTER)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.FIRST_LETTER
    "
  >
    <span>{{ 'SETTINGS.LEVEL_FIRST' | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.ONE_LETTER)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.ONE_LETTER
    "
  >
    <span>{{ 'SETTINGS.LEVEL_1' | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.TWO_LETTERS)"
    [disabled]="
      (settingsService.letterGameLevel | async) === LetterGameLevel.TWO_LETTERS
    "
  >
    <span>{{ 'SETTINGS.LEVEL_2' | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setLetterGameLevel(LetterGameLevel.THREE_LETTERS)"
    [disabled]="
      (settingsService.letterGameLevel | async) ===
      LetterGameLevel.THREE_LETTERS
    "
  >
    <span>{{ 'SETTINGS.LEVEL_3' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #settingsLetterPermutationsGame="matMenu">
  <button mat-menu-item (click)="newLetterPermutationsGame()">
    <span>{{ 'SETTINGS.NEW_GAME' | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="alphabet">
    <span>{{ 'SETTINGS.ALPHABET' | translate }}</span>
  </button>
</mat-menu>
<mat-menu #settingsMissingWordGame="matMenu">
  <button mat-menu-item (click)="newMissingWordGame()">
    <span>{{ 'SETTINGS.NEW_GAME' | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="alphabet">
    <span>{{ 'SETTINGS.ALPHABET' | translate }}</span>
  </button>
</mat-menu>
<mat-menu #alphabet="matMenu">
  <button
    mat-menu-item
    (click)="setLanguage(Language.MONTENEGRO)"
    [disabled]="(settingsService.language | async) === Language.MONTENEGRO"
  >
    <span>{{ 'SETTINGS.SCRIPT_LATIN' | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="setLanguage(Language.SERBIAN)"
    [disabled]="(settingsService.language | async) === Language.SERBIAN"
  >
    <span>{{ 'SETTINGS.SCRIPT_CYRILLIC' | translate }}</span>
  </button>
</mat-menu>
