<div class="container">
  <div class="images" *ngFor="let config of game.config">
    <div class="image-wrapper"><img src="{{ config.image }}" /></div>
    <div class="letter-grid">
      <ng-container
        *ngFor="
          let letter of (settingsService.language | async) ===
          Language.MONTENEGRO
            ? config.wordLat
            : (settingsService.language | async) === Language.SERBIAN
            ? config.wordCyr
            : config.wordLat;
          let i = index
        "
      >
        <div class="letter" *ngIf="!isMissing(i, config)">{{ letter }}</div>
        <input
          *ngIf="isMissing(i, config)"
          class="letter-input"
          type="text"
          appLetterValidator
          [maxLength]="letter.length"
        />
      </ng-container>
    </div>
  </div>
</div>
