<div *ngIf="slides" class="carousel">
  <!-- slides -->
  <ul class="slides">
    <li
      class="slide"
      *ngFor="let slide of slides; let i = index"
      [@slideState]="getAnimationSlideState(i)"
      (click)="pause()"
    >
      <!-- <div *ngIf="paused" style="text-align: center">Pauzirano</div> -->
      <ng-container
        *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }"
      >
      </ng-container>

      <audio
        hidden="hidden"
        id="{{ 'sound-' + i }}"
        src="{{
          (mainService.fileExists(slide.sound) | async)
            ? slide.sound
            : mainService.DEFAULT_SOUND_PATH
        }}"
        controls
      ></audio>
    </li>
  </ul>
  <!-- navigations & thumbnails -->
  <div class="navigations">
    <button
      type="button"
      (click)="select(activeSlides.previous)"
      *ngIf="slides.length > 1 && isNavigationVisible"
    >
      <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
        >nazad</span
      >
      <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
        >mbrapa</span
      >
    </button>
    <div>
      <ol class="thumbnails" *ngIf="slides.length > 1 && isThumbnailsVisible">
        <li
          *ngFor="let slide of slides; let i = index"
          [class.is-active]="i === activeSlides.current"
          (click)="select(i)"
        >
          <ng-container
            *ngTemplateOutlet="
              thumbnailTemplateRef;
              context: { $implicit: slide }
            "
          ></ng-container>
        </li>
      </ol>
    </div>
    <button
      type="button"
      (click)="select(activeSlides.next)"
      *ngIf="slides.length > 1 && isNavigationVisible"
    >
      <span *ngIf="(settingsService.language | async) === Language.MONTENEGRO"
        >naprijed</span
      >
      <span *ngIf="(settingsService.language | async) === Language.ALBANIA"
        >përpara</span
      >
    </button>
  </div>
</div>
