.password-container {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.selected-symbols {
  font-size: 2rem;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.symbol, .placeholder {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.grid-item {
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.grid-item:hover {
  background-color: #f0f0f0;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .0178571429em;
}
