<div class="password-container">
  <h3>{{ 'PICTO_PASSWORD.TITLE' | translate }}</h3>
  <div class="selected-symbols">
    <span *ngFor="let symbol of selectedSymbols" class="symbol">{{ symbol }}</span>
    <span *ngFor="let _ of [1, 2, 3].slice(selectedSymbols.length)" class="placeholder">?</span>
  </div>
  <div class="grid">
    <div *ngFor="let symbol of symbols" class="grid-item" (click)="selectSymbol(symbol)">
      {{ symbol }}
    </div>
  </div>
  <button 
    mat-button 
    color="warn" 
    (click)="clear()" 
    [style.visibility]="selectedSymbols.length > 0 ? 'visible' : 'hidden'"
  >
    {{ 'PICTO_PASSWORD.CLEAR' | translate }}
  </button>
</div>
