<div class="game-container">
  <app-topbar
    class="app-game-topbar"
    [title]="topbarTitle"
    [showBackButton]="true"
    [backOnPage]="'/games'"
    [showSettings]="false"
    [showLetterGameSettings]="showLetterGameSettings"
    [showLetterPermutationsGameSettings]="showLetterPermutationsGameSettings"
  ></app-topbar>
  <div class="letter-game-content-wrapper">
    <app-letter-game
      class="app-letter-game-content-wrapper"
      *ngIf="game?.type === GameType.LETTERS"
      [game]="game"
    ></app-letter-game>
  </div>

  <div class="letter-game-content-wrapper">
    <app-letter-permutations-game
      class="app-letter-game-content-wrapper"
      *ngIf="game?.type === GameType.LETTERS_PERMUTATIONS"
      [game]="game"
    ></app-letter-permutations-game>
  </div>
  <div class="letter-game-content-wrapper">
    <app-missing-word
      class="app-letter-game-content-wrapper"
      *ngIf="game?.type === GameType.MISSING_WORD"
      [game]="game"
    ></app-missing-word>
  </div>

  <p
    *ngIf="
      game?.type !== GameType.LETTERS &&
      game?.type !== GameType.LETTERS_PERMUTATIONS &&
      game?.type !== GameType.MISSING_WORD
    "
  >
    game-component-works
  </p>
</div>
