.game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.letter-game-content-wrapper {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
}

.app-game-topbar {
    width: 100%;
}