<div>
  <app-topbar [title]="topbarTitle"></app-topbar>
  <app-slide-show
    *ngIf="slides"
    [autoPlayDuration]="3000"
    [animation]="AnimationEnum.Slide"
    [isNavigationVisible]="true"
    [isThumbnailsVisible]="true"
    [slides]="slides"
    [slideTemplateRef]="slide"
    [thumbnailTemplateRef]="thumbnail"
  ></app-slide-show>
  <ng-template #slide let-slide>
    <div
      [ngStyle]="{
        width: '100%',
        height: '100%'
      }"
    >
      <img
        [ngStyle]="{
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          width: '100%',
          height: '100%'
        }"
        src="{{ slide.image }}"
      />
    </div>
  </ng-template>
  <ng-template #thumbnail let-slide>
    <div
      [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + slide.image + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center center',
        width: '100%',
        height: '100%'
      }"
    ></div>
  </ng-template>
</div>
