.container {
  margin-top: 70px;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--slide-desc-font-size);
  color: #2e75b6;
  text-align: center;
  line-height: 1;
  background-color: white;
  padding: 1%;
  height: calc(100% - var(--slide-image-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  cursor: pointer;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--image-width);
  height: var(--slide-image-height);
  z-index: 1;
}

.pause {
  width: var(--image-width);
  height: var(--slide-image-height);
  z-index: 3;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
}

/** Play Button **/
#play-button-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.play-button {
  position: absolute;
  z-index: 1;
  margin-top: -33%;
}

/** Media Queries **/

@media (max-width: 900px) {
  .description {
    font-size: var(--slide-desc-font-size-mobile);
  }
}
