<div>
  <app-topbar [title]="topbarTitle" [showBackButton]="true"></app-topbar>
  <app-slide-show
    *ngIf="slides"
    [autoPlayDuration]="3000"
    [animation]="AnimationEnum.Slide"
    [isNavigationVisible]="true"
    [isThumbnailsVisible]="true"
    [slides]="slides"
    [slideTemplateRef]="slide"
    [thumbnailTemplateRef]="thumbnail"
  ></app-slide-show>
  <ng-template #slide let-slide>
    <div
      [ngStyle]="{
        width: '100%',
        height: '100%'
      }"
    >
      <img
        [ngStyle]="{
          cursor: 'pointer',
          background: 'white',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          width: 'var(--image-width)',
          height: 'var(--slide-image-height)'
        }"
        src="{{ slide.image }}"
      />
      <div *ngIf="slide.description" class="description">
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </ng-template>
  <ng-template #thumbnail let-slide>
    <div
      [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + slide.image + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center center',
        width: '100%',
        height: '100%'
      }"
    ></div>
  </ng-template>
</div>
