/*********************
  Društvene situacije
**********************/

.social-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.social-events-wrapper {
  display: flex; 
  justify-content: center;
  overflow: auto;
  width: 100%;
  padding: 50px 20px 50px 20px;
}

.social-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  gap: 1rem;
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  width: var(--events-width);
  height: var(--events-width);
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  cursor: pointer;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--desc-font-size);
  color: #2e75b6;
  text-align: center;
  line-height: 1;
  height: calc(100% - var(--image-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/******************
  Media Queries
*******************/

@media (max-width: 768px) {
  .social-events-wrapper {
    padding: 20px 20px;
  }
}
