// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.container {
  // overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // padding: 100px 10px 100px 10px;
}

// .topbar {
//   flex: 2;
//   overflow: auto;
// }

// .container::-webkit-scrollbar {
//   display: none; /* Safari and Chrome */
// }

.events-wrapper {
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, var(--events-width)); /* 2 */
  grid-gap: 1rem; /* 3 */
  justify-content: center; /* 4 */
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  width: var(--events-width);
  height: var(--events-width);
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  cursor: pointer;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--desc-font-size);
  color: #2e75b6;
  text-align: center;
  line-height: 1;
  height: calc(100% - var(--image-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
