<div class="container">
  <div class="topbar">
    <app-topbar [title]="'POČETNA'"></app-topbar>
  </div>
  <div class="events-wrapper" fxLayoutGap="15px">
    <div class="image-wrapper" *ngFor="let event of events">
      <img class="image" src="{{ event.image }}" (click)="onClick(event)" />
      <div class="description">
        <p *ngIf="(settingsService.language | async) === Language.MONTENEGRO">
          {{ event.description }}
        </p>
        <p *ngIf="(settingsService.language | async) === Language.ALBANIA">
          {{ event.descriptionALB ? event.descriptionALB : event.description }}
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>

<!-- <div class="container" fxLayoutGap="50px">
  <div class="topbar"><app-topbar [title]="'POČETNA'"></app-topbar></div>
  <div class="topbar"><app-topbar [title]="'POČETNA'"></app-topbar></div>
</div> -->
