<div class="container">
  <div class="topbar">
    <app-topbar [title]="'POČETNA'"></app-topbar>
  </div>
  <div class="events-wrapper" fxLayoutGap="15px">
    <div *ngFor="let event of events">
      <img class="image" src="{{ event.image }}" (click)="onClick(event)" />
    </div>
  </div>
</div>

<!-- <div class="container" fxLayoutGap="50px">
  <div class="topbar"><app-topbar [title]="'POČETNA'"></app-topbar></div>
  <div class="topbar"><app-topbar [title]="'POČETNA'"></app-topbar></div>
</div> -->
