<div class="games-container">
  <app-topbar
    [title]="'IGRE'"
    [showSettings]="false"
    [showBackButton]="true"
    [backOnPage]="'/home'"
  ></app-topbar>

  <div class="games-wrapper">
    <div class="games-images-container">
      <div class="image-wrapper" *ngFor="let game of games">
        <app-lazy-image
          [src]="game.image"
          [alt]="game.description"
          [clickable]="true"
          (clicked)="onClick(game)"
        ></app-lazy-image>
        <div class="description">
          <p>
            {{ game.name }}
          </p>
        </div>
        <div class="break"></div>
      </div>
      <div *ngIf="blanko == true" class="image-wrapper-blanko"></div>
    </div>
  </div>
</div>
