/*********************
  Igre
**********************/

.games-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.games-wrapper {
  display: flex; 
  justify-content: center;
  overflow: auto;
  width: 100%;
  padding: 50px 20px 0 20px;
}

.games-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 770px;
  gap: 1rem;
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  width: var(--games-width);
  height: var(--games-height);
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  cursor: pointer;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--games-desc-font-size);
  color: #2e75b6;
  text-align: center;
  line-height: 1;
  height: calc(100% - var(--image-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******************
  Media Queries
*******************/

@media (max-width: 768px) {
  .games-wrapper {
    padding: 20px 20px;
  }
}

@media (max-width: 639px) {
  .games-images-container {
    justify-content: space-evenly;
  }
}
