<div class="container">
  <div class="topbar">
    <app-topbar
      [title]="'IGRE'"
      [showSettings]="false"
      [showBackButton]="true"
      [backOnPage]="'/home'"
    ></app-topbar>
  </div>
  <div class="games-wrapper" fxLayoutGap="15px">
    <div class="image-wrapper" *ngFor="let game of games">
      <img class="image" src="{{ game.image }}" (click)="onClick(game)" />
      <div class="description">
        <p>
          {{ game.name }}
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>
