.games-wrapper {
  padding: 50px 500px;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, var(--games-width)); /* 2 */
  grid-gap: 1rem; /* 3 */
  justify-content: center; /* 4 */
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  width: var(--games-width);
  height: var(--games-height);
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  cursor: pointer;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--games-desc-font-size);
  color: #2e75b6;
  text-align: center;
  line-height: 1;
  height: calc(100% - var(--image-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .games-wrapper {
    padding: 20px 20px;
  }
}
