<div class="container">
  <app-topbar [title]="topbarTitle" [showBackButton]="true"></app-topbar>
  <app-slide-show
    *ngIf="slides"
    [autoPlayDuration]="3000"
    [animation]="AnimationEnum.Slide"
    [isNavigationVisible]="true"
    [isThumbnailsVisible]="true"
    [slides]="slides"
    [slideTemplateRef]="slide"
    [thumbnailTemplateRef]="thumbnail"
    (pauseFunc)="pause($event)"
    class="slide-show-wrapper"
  ></app-slide-show>
  <ng-template #slide let-slide>
    <div
      [ngStyle]="{
        width: '100%',
        height: '100%'
      }"
    >
      <app-lazy-image
        [src]="slide.image"
        [alt]="slide.description || ''"
        [clickable]="true"
        heightVar="--slide-image-height"
      ></app-lazy-image>
      <div id="play-button-container">
        <img
          *ngIf="paused"
          src="assets/icons/play-button.png"
          class="play-button"
        />
      </div>

      <div *ngIf="slide.description" class="description">
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </ng-template>
  <ng-template #thumbnail let-slide>
    <div
      [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + slide.image + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center center',
        width: '100%',
        height: '100%'
      }"
    ></div>
  </ng-template>
</div>
