/* You can add global styles to this file, and also import other style files */
/* ==== Google font ==== */
@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,500,600,700");

/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* ===================================
1. General
==================================== */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: #656565;
}

:root {
  --unit-1: 4px;
  --elevation-1: 1;
  --min-height-carousel: calc(var(--unit-1) * 50);
  --color-brand-1: #2e75b6;
  --events-width: 150px;
  --desc-font-size: 14px;
  --image-height: 75%;
  --image-width: 100%;
  --slide-image-width: 100%;
  --slide-image-height: 80%;
  --slide-desc-font-size: 28px;
  --topbar-height: 48px;
  --slide-desc-font-size-mobile: 20px;
  --home-page-imgs-size: 250px;
  --games-width: 300px;
  --games-height: 300px;
  --games-desc-font-size: 16px;
  --missing-word-image-height: 90%;
  --home-page-image-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

/* Inserting a collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

/* Global override */
.mat-typography p {
  margin: 0 !important;
}
