.container {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #2e75b6;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.image-wrapper {
  border: 2px solid var(--color-brand-1);
  width: var(--home-page-imgs-size);
  height: var(--home-page-imgs-size);
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 100px;
}

.option {
  width: 250px;
  height: 300px;
}

.image {
  width: 100%;
  height: 100%;
}

.image-description {
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #2e75b6;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 20px 50px;
  }

  .options {
    flex-direction: column;
    gap: 20px;
  }

  .image-wrapper {
    width: 100%;
  }
}
