<div class="home-container">
  <app-topbar [title]="'POČETNA'" [showSettings]="true"></app-topbar>
  <div class="home-page-content-wrapper">
    <div class="description">
      <div class="home-heading-1">
        <h1>{{ 'HOME.WELCOME' | translate }}</h1>
      </div>
      <div class="home-about">
        <p>
          {{ 'HOME.DESCRIPTION_1' | translate }}
        </p>
      </div>
      <div class="home-what">
        <p>{{ 'HOME.WHAT_TO_DO' | translate }}</p>
      </div>
    </div>
    <div class="break"></div>
    <div class="options">
      <div class="option" *ngFor="let option of homeOptions">
        <div class="image-wrapper" (click)="navigateToEvent(option.id)">
          <app-lazy-image
            [src]="option.image"
            [alt]="option.name"
            [clickable]="true"
            heightVar="--home-page-image-height"
          ></app-lazy-image>
        </div>
        <div class="image-description">
          <p>
            <b>{{ getEventName(option) }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="break"></div>
    <div class="description">
      <div class="home-about">
        <p>
          {{ 'HOME.DESCRIPTION_2' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
