name: Build and Push Docker Image

on:
  push:
    branches: [master]

  workflow_dispatch:
    inputs:
      version:
        description: "Version tag for the Docker image"
        required: false
        default: "latest"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get package version
        id: package_version
        if: github.event_name == 'push'
        run: |
          VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | awk '{$1=$1};1')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: savicat
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: savicat/acc-za-djecu-web:${{ github.event_name == 'push' && steps.package_version.outputs.version || inputs.version }}
